<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - SAML SP1 Demo</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
        integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo"><a href="/" class="nav-link">SAML Service Provider Alpha</a></h1>
            <nav class="nav">
                <a href="/home" class="nav-link">Home</a>
                {{if .Authenticated}}
                    <a href="/logout" class="nav-link">Logout</a>
                {{end}}
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {{template "content" .}}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Zobayer Hasan - For Educational Purposes</p>
        </div>
    </footer>
</body>
</html>
